:root {
  --title-color: #212121;
  --primarycolor: #757575;
  --white-color: #fff;
  --acent-color: #2196f3;
  --button-color: #f5f4fa;
  --roboto-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: transparent;
  outline: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover, .modal__button-close:focus {
  fill: var(--accnt-color);
  border-color: var(--accnt-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.modal__icon-close {
  width: 18px;
  height: 18px;
}

body {
  background-color: var(--white-color);
  color: var(--primarycolor);
  font-family: var(--roboto-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.page-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .page-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__logo {
  text-decoration: none;
  font-family: var(--logo-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--title-color);
  letter-spacing: 0.03em;
}

.logo__decoration {
  font-family: var(--logo-font);
  color: var(--acent-color);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover, .menu-toggle:focus {
  color: var(--acent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  padding: 48px 40px;
  background-color: var(--white-color);
  transform: translateX(-150%);
  transition: transform 250ms ease-in-out;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--white-color);
}

.menu-container .menu-toggle:hover {
  fill: var(--acent-color);
}

.menu-container.is-open {
  transform: translateX(0);
}

@media (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}

.navigation__menu {
  margin-bottom: 300px;
}

.navigation__item {
  margin-bottom: 35px;
}

.navigation__item:last-child {
  margin: 0;
}

.navigation__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  color: var(--title-color);
}

.link-current {
  color: var(--acent-color);
}

.contact {
  margin-bottom: 65px;
}

.contact__item:not(:last-child) {
  margin-bottom: 30px;
}

.contact__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primarycolor);
}

.contact__tell {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: var(--primarycolor);
}

.contact__mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: var(--primarycolor);
}

.menu-social {
  display: flex;
}

.menu-social__item:not(:last-child) {
  margin-right: 20px;
}

.menu-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: var(--acent-color);
}

@media screen and (max-width: 767px) {
  .tablet {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .page-header__container {
    display: flex;
  }
  .navigation__logo {
    margin-right: 88px;
  }
  .menu-toggle {
    display: none;
  }
  .navigation__menu {
    display: flex;
    margin-bottom: 0;
    margin-right: 84px;
  }
  .navigation__item {
    margin-right: 50px;
    margin-bottom: 0;
  }
  .navigation__item:last-child {
    margin: 0;
  }
  .navigation__link {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--title-color);
  }
  .link-current::after {
    display: block;
    position: absolute;
    bottom: 0;
    bottom: -22px;
    content: '';
    width: 100%;
    height: 4px;
    background: var(--acent-color);
    border-radius: 2px;
  }
  .contact {
    margin-bottom: 0;
    align-items: center;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--primarycolor);
  }
  .contact__icon-email {
    display: inline-block;
    width: 14px;
    height: 10px;
    margin-right: 10px;
    fill: #757575;
  }
  .contact__icon-tell {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 14px;
    margin-right: 10px;
    fill: #757575;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding: 24px 0;
  }
  .page-header__container {
    justify-content: space-between;
    align-items: baseline;
  }
  .navigation__logo {
    margin-right: 93px;
    font-weight: 700;
    font-size: 26px;
  }
  .link-current::after {
    bottom: -36px;
  }
  .navigation__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--acent-color);
  }
  .contact {
    display: flex;
    align-items: flex-start;
  }
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
  .contact__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--acent-color);
  }
  .contact__icon-email {
    width: 16px;
    height: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover .contact__icon-email,
  .contact__link:focus .contact__icon-email {
    fill: var(--acent-color);
  }
  .contact__icon-tell {
    width: 10px;
    height: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover .contact__icon-tell,
  .contact__link:focus .contact__icon-tell {
    fill: var(--acent-color);
  }
}

.page-hero {
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin: auto;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobil-hero@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-hero__title {
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.page-hero__button {
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--acent-color);
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .page-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet-hero@1x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .page-hero__title {
    font-weight: 900;
    font-size: 44px;
  }
  .page-hero__button:hover, .page-hero__button:focus {
    background-color: #188ce8;
  }
  .page-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desctop-hero@1x.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 280px), (min-resolution: 192dpi) and (min-width: 280px), (min-resolution: 2dppx) and (min-width: 280px) {
  .page-hero {
    background-image: url(../images/hero/mobil-hero@2x.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .page-hero {
    background-image: url(../images/hero/tablet-hero@2x.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .page-hero {
    background-image: url(../images/hero/desctop-hero@2x.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.features {
  list-style: none;
}

.features__item {
  width: 100%;
  align-items: center;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .features__item {
    width: 450px;
  }
  .features__icon {
    width: 450px;
  }
}

.icon__antenna {
  width: 70px;
  height: 70px;
  fill: #212121;
}

.icon__clock {
  fill: #212121;
}

.icon__diagram {
  fill: #2196f3;
}

.icon__astronaut {
  fill: #2196f3;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features__item {
    width: 354px;
  }
  .features__item:nth-child(3) {
    margin-bottom: 0;
  }
  .features__icon {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    flex-wrap: nowrap;
  }
  .features .features__item {
    margin-bottom: 0;
  }
  .features__item {
    width: calc(100% / 4 - 30px);
  }
  .features__icon {
    width: 100%;
  }
}

.works {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works__title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: var(--title-color);
}

.works-list {
  display: flex;
  justify-content: space-between;
}

.works-list__item {
  position: relative;
}

.works-list__bolok {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 100%;
}

.works-list__text {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  display: flex;
  justify-content: center;
  font-family: var(--roboto-font);
  font-weight: bold;
  font-size: 14px;
  color: var(--white-color);
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.team-subject {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  color: var(--title-color);
}

.team-list__item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.team-img {
  width: 100%;
}

.team-info {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-info__name {
  font-weight: 500px;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.1;
  color: var(--title-color);
}

.team-info__profesion {
  font-size: 16px;
  line-height: 1.1;
  margin-bottom: 16px;
}

.list-icon {
  list-style: none;
  display: flex;
  justify-content: center;
}

.list-icon__item {
  margin-right: 10px;
}

.list-icon__item:last-child {
  margin-right: 0;
}

.list-icon__link {
  display: block;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50px;
}

.list-icon__social {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-list__item {
    width: 354px;
  }
  .team-list__item:nth-child(3) {
    margin-bottom: 0;
  }
  .team-list__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .team-img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    background-color: #f5f4fa;
  }
  .team-list {
    flex-wrap: nowrap;
  }
  .team-list .team-list__item {
    margin-bottom: 0;
  }
  .team-list .team-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .team-list__item {
    width: 270px;
  }
  .team-img {
    width: 270px;
    height: 260px;
  }
  .list-icon__link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-icon__link:hover, .list-icon__link:focus {
    background-color: var(--acent-color);
  }
  .list-icon__social {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-icon__link:hover .list-icon__social,
  .list-icon__link:focus .list-icon__social {
    fill: var(--white-color);
  }
}

.customers__subject {
  font-size: 36px;
  color: var(--title-color);
  text-align: center;
  margin: 0%;
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customers-list__item {
  flex-basis: calc(100% / 2 - 15px);
}

.customers-list__item:nth-child(-n + 4) {
  margin-bottom: 30px;
}

.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__link:hover, .customers-list__link:focus {
  border-color: var(--acent-color);
}

.customers-list__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__link:hover .customers-list__icon,
.customers-list__link:focus .customers-list__icon {
  fill: var(--acent-color);
}

@media screen and (min-width: 768px) {
  .customers-list__item {
    flex-basis: calc(100% / 3 - 20px);
  }
  .customers-list .customers-list__item:nth-child(4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list {
    flex-wrap: nowrap;
  }
  .customers-list .customers-list__item:nth-child(-n + 4) {
    margin-bottom: 0;
  }
  .customers-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .customers-list__item {
    width: 170px;
  }
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.container-adress {
  text-align: center;
  margin-bottom: 60px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  font-family: var(--logo-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--white-color);
}

.address {
  margin: 0 auto;
  font-style: inherit;
  width: 231px;
}

.address__list {
  display: inline-block;
  list-style: none;
}

.address__item {
  margin-bottom: 10px;
}

.address__item:last-child {
  margin: 0;
}

.address__contact {
  display: inline-block;
  text-decoration: none;
  font-style: inherit;
  line-height: 1.7;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__mail {
  display: inline-block;
  text-decoration: none;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.address__tell {
  text-decoration: none;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social {
  text-align: center;
}

.social__subject {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--white-color);
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.social__icon {
  width: 44px;
  height: 44px;
  fill: var(--white-color);
}

.footer-form {
  text-align: center;
}

.footer-form__title {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0;
  margin-bottom: 20px;
}

.footer-form__mail {
  width: 100%;
  margin-bottom: 20px;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  padding: 15px;
}

.footer-form__mail::placeholder {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 295px 15px 16px;
}

.footer-form__button {
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  padding: 10px 62px 10px 29px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: 148px 50%;
  background-image: url(../images/svg/icon-tviter.svg);
}

@media screen and (min-width: 768px) {
  .footer__section {
    display: flex;
    justify-content: space-between;
  }
  .footer-form__mail {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .container-foter {
    display: flex;
  }
  .container-foter .footer__section {
    margin-bottom: 0;
  }
  .footer__section {
    margin-right: 93px;
  }
  .container-adress {
    text-align: inherit;
    margin-right: 70px;
    margin-bottom: 0%;
  }
  .footer__social {
    text-align: inherit;
    margin-bottom: 0;
  }
  .social__link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__link:hover, .social__link:focus {
    background-color: var(--accnt-color);
  }
  .footer-form {
    text-align: inherit;
  }
  .footer-form__mail {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
  .form-box {
    display: flex;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.filter__item:nth-child(-n + 4) {
  margin-right: 8px;
}

.filter__item:nth-child(-n + 4):nth-child(-n + 3) {
  margin-bottom: 15px;
}

.filter__button {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: var(--roboto-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  background-color: var(--button-color);
  color: var(--title-color);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--acent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio__link {
  display: block;
  width: 100%;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.overlay__img {
  width: 100%;
}

.overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms linear;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--white-color);
  letter-spacing: 0.03em;
  padding: 77px 24px;
  margin: 0;
  overflow: auto;
}

.portfolio__link:hover .overlay__text,
.portfolio__link:focus .overlay__text {
  transform: translateY(0%);
}

.portfolio__blok {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.box__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-color);
}

.box__text {
  color: var(--primarycolor);
  font-size: 16px;
  line-height: 1.8;
}

@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
    margin-bottom: 30px;
  }
  .filter__list .filter__item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio__item {
    width: 354px;
  }
  .portfolio__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .overlay__text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    justify-content: center;
    margin-bottom: 34px;
  }
  .portfolio__list {
    margin-left: -30px;
    margin-top: -30px;
  }
  .portfolio__list > .portfolio__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 0;
  }
  .portfolio__list .portfolio__item {
    margin-bottom: 0;
  }
  .overlay__text {
    padding: 63px 24px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 450px;
  height: 609px;
  background-color: var(--white-color);
  text-align: center;
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin: 0;
  margin-bottom: 12px;
}

.modal-form {
  margin-bottom: 30px;
  text-align: initial;
}

.footer__section {
  margin-bottom: 60px;
}

.modal-form__label {
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form__input:hover + .modal-form__label,
.modal-form__input:focus + .modal-form__label {
  color: var(--acent-color);
}

.modal-form__box {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: var(--acent-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover, .modal-form__input:focus {
  border-color: var(--acent-color);
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea:hover, .modal-form__textarea:focus {
  border-color: var(--acent-color);
}

.modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox:checked + .checkbox__box {
  background-color: var(--acent-color);
  background-image: url(../images/svg/Vector.svg);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
  border-color: transparent;
}

.checkbox-box {
  width: 15px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox:focus + .checkbox-box {
  border-color: var(--acent-color);
}

.modal-form__agree {
  font-size: 12px;
  line-height: 1.1;
}

.agree__link {
  font-size: 12px;
  line-height: 1.8;
  color: var(--acent-color);
}

.modal-form__button {
  display: inline-block;
  padding: 10px 55px;
  background-color: var(--acent-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__button:hover, .modal-form__button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .container-adress {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
/*# sourceMappingURL=main.css.map */