:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --white-color: #fff;
  --accnt-color: #2196f3;
  --button-color: #f5f4fa;
  --roboto-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}